@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/circular-std");

:root {
  --header-height: 3rem;

  --first-color: #da2535;
  --first-color-alt: #c42130;
  --first-color-send: #de3b49;
  --title-color: #161212;
  --text-color: #5b5757;
  --text-color-light: #8f8a8a;
  --body-color: #fefbfb;
  --container-color: #fff;
  --body-font: "Circular Std", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  @media screen and (min-width: 968px) {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
  --font-semi-bold: 600;
  --font-bold: 700;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --z-tooltip: 10;
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body.dark-theme {
  --first-color-send: #161212;
  --title-color: #f3f1f1;
  --text-color: #d1c7c8;
  --body-color: #0e0d0d;
  --container-color: #302728;

  .home {
    &__img {
      #background-circle {
        fill: white;
      }
      #button {
        fill: #1f1c1c;
      }
    }
  }
  .freuqently {
    .accordion {
      button {
        color: white;
      }
    }
  }
}

.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  display: flex;
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 4rem 0 2rem;

  &-title,
  &-title-center {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: var(--mb-3);
  }
}

/*========== LAYOUT ==========*/
.l-main {
  overflow: hidden;
}
.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*========== NAV ==========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    @media screen and (max-width: 768px) {
      position: fixed;
      top: -100%;
      left: 0;
      right: 0;
      width: 90%;
      margin: 0 auto;
      padding: 2.5rem 0 0;
      text-align: center;
      background-color: var(--body-color);
      transition: 0.4s;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      border-radius: 2rem;
      z-index: var(--z-fixed);
    }
  }
  &__item {
    margin-bottom: var(--mb-3);
  }
  &__link,
  &__logo,
  &__toggle {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  &__logo {
    &:hover {
      color: #7f8cc6;
    }
  }
  &__link {
    transition: 0.3s;

    &:hover {
      color: #7f8cc6;
    }
  }
  &__toggle {
    font-size: 1.3rem;
    cursor: pointer;
  }
}

/* Show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/* Active menu link */
.active-link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -0.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    border-radius: 50%;
  }
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: #2b45bb;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;

  &:hover {
    background-color: var(--first-color);
  }

  &__icon {
    font-size: 1.5rem;
    color: var(--body-color);
  }
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home {
  &__container {
    row-gap: 0.5rem;
  }

  &__img {
    width: 280px;
    justify-self: center;

    .phone-icon-wrapper {
      display: flex;
      justify-content: center;
      #phone-icon {
        max-width: 320px;
      }
    }
    .svg-text-anim {
      animation: svg-text-anim 2s linear;
    }
    .activateAnim {
      #phone {
        stroke-dashoffset: 800;
        stroke-dasharray: 800;
        animation: stroke-animation 1.5s 0.3s ease-in forwards;
      }
      #screen {
        stroke-dashoffset: 800;
        stroke-dasharray: 800;
        fill-opacity: 0;
        animation: stroke-animation 1.5s 1s ease-in forwards,
          fill-animation 0.3s 2s ease-in forwards;
      }
      #button {
        fill-opacity: 0;
        animation: fill-animation 0.3s 2.5s ease-in forwards;
      }
      #speaker {
        stroke-dashoffset: 800;
        stroke-dasharray: 800;
        animation: stroke-animation 2s 2.5s ease-in forwards;
      }
      #heart {
        stroke-dashoffset: 800;
        stroke-dasharray: 800;
        fill-opacity: 0;
        animation: stroke-animation 1s 2s ease-in forwards,
          fill-animation 0.3s 2.2s ease-in forwards;
      }
    }

    @keyframes stroke-animation {
      to {
        stroke-dashoffset: 0;
      }
    }

    @keyframes fill-animation {
      to {
        fill-opacity: 1;
      }
    }
  }
  &__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-2);
  }
  &__description {
    margin-bottom: var(--mb-3);
  }
}

/*========== BUTTONS ==========*/
.button {
  display: inline-block;
  background-color: #2b45bb;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: 0.3s;

  &:hover {
    background-color: #04114c;
  }

  &-link {
    background: none;
    padding: 0;
    color: var(--first-color);

    &:hover {
      background-color: transparent;
      color: var(--first-color-alt);
    }
  }
}

.share {
  .about-us {
    max-width: 380px;
  }
  &__data {
    text-align: center;
  }
  &__description {
    margin-bottom: var(--mb-2);
  }
  &__img {
    width: 280px;
    justify-self: center;
  }
}

.decoration {
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  &__data {
    text-align: center;
    padding: 1rem 1rem 2rem;
    background-color: var(--container-color);
    box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
    border-radius: 1rem;

    &:hover {
      box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
    }
  }
  &__img {
    height: 180px;
    padding: 16px;
  }
  &__title {
    font-size: var(--h3-font-size);
    margin: 12px 0 12px 0;
  }
}

/*========== SEND GIFT ==========*/
.send {
  &__container {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color: transparent !important;
  }
  &__title,
  &__description {
    color: var(--text-color);
  }
  &__description {
    text-align: center;
    margin-bottom: var(--mb-4);
  }
  &__direction {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 0.5rem;
  }
  &__input {
    width: 70%;
    outline: none;
    border: none;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);

    &::placeholder {
      font-family: var(--body-font);
    }
  }
  &__img {
    width: 280px;
    justify-self: center;
  }
}

/*========== FOOTER ==========*/
.footer {
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  &__logo {
    color: var(--title-color);
  }
  &__title {
    margin-bottom: var(--mb-2);
  }
  &__content {
    margin: 0 auto;
  }
  &__logo,
  &__title {
    font-size: var(--h3-font-size);
  }
  &__link {
    display: inline-block;
    margin-bottom: 0.75rem;
    color: var(--text-color);

    &:hover {
      color: var(--first-color);
    }
  }
  &__social {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-3);

    &:hover {
      color: var(--first-color);
    }
  }
  &__copy {
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 4rem;
  }
}

/*========== MEDIA QUERIES ==========*/
/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
  .home__img,
  .share__img,
  .send__img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .home__container,
  .share__container,
  .send__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home {
    &__container {
      padding: 5rem 0 0;
    }
    &__img {
      order: 1;
    }
  }

  .section-title-center,
  .share__data,
  .send__description {
    text-align: initial;
  }

  .home__img,
  .share__img,
  .send__img {
    width: 100%;
  }

  .share__img {
    order: -1;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 7rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    &__logo {
      font-size: 28px;
    }
    &__list {
      display: flex;
      align-items: center;
    }
    &__item {
      margin-left: var(--mb-5);
      margin-bottom: 0;
    }
    &__toggle {
      display: none;
    }
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-4);
  }

  .home__container {
    padding: 7rem 2rem 0;
  }

  .share__container {
    padding: 0 2rem;
  }

  .accessory {
    &__container {
      grid-template-columns: repeat(3, 224px);
      justify-content: center;
    }
    &__content {
      padding: 0.5rem 1.5rem 1.5rem;
    }
    &__img {
      width: 120px;
      margin-bottom: var(--mb-1);
    }
    &__title,
    &__category {
      text-align: initial;
    }
    &__button {
      padding: 0.75rem;
    }
  }

  .send {
    background: none;

    &__container {
      background-color: var(--first-color-send);
      padding: 2rem;
      border-radius: 1.5rem;
    }
  }
}

.freuqently {
  font-family: var(--body-font);
  .faq-title {
    text-align: center;
    margin-bottom: 48px;
  }
  .link-contact {
    text-decoration: underline;
    color: #2b45bb;
  }
  .accordion {
    .accordion-item {
      border-bottom: 1px solid lightgray;
      button[aria-expanded="true"] {
        border-bottom: 1px solid #2b45bb;
      }
    }
    button {
      position: relative;
      display: block;
      text-align: left;
      width: 100%;
      padding: 1em 0;
      color: black;
      font-size: 1.15rem;
      font-weight: 400;
      border: none;
      background: none;
      outline: none;
      &:hover,
      &:focus {
        cursor: pointer;
        color: #2b45bb;
        &::after {
          cursor: pointer;
          color: #2b45bb;
          border: 1px solid #2b45bb;
        }
      }
      .accordion-title {
        padding: 1em 1.5em 1em 0;
        color: var(--text-color);
        font-weight: 600;
        font-family: var(--body-font);
      }
      .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
        &::before {
          display: block;
          position: absolute;
          content: "";
          top: 9px;
          left: 5px;
          width: 10px;
          height: 2px;
          background: currentColor;
        }
        &::after {
          display: block;
          position: absolute;
          content: "";
          top: 5px;
          left: 9px;
          width: 2px;
          height: 10px;
          background: currentColor;
        }
      }
    }
    button[aria-expanded="true"] {
      color: blue;
      .icon {
        &::after {
          width: 0;
        }
      }
      + .accordion-content {
        opacity: 1;
        max-height: 9em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
      }
    }
    .accordion-content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 200ms linear, max-height 200ms linear;
      will-change: opacity, max-height;
      p {
        font-size: 1rem;
        font-weight: 300;
        margin: 2em 0;
      }
    }
  }
}

@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img,
  .share__img {
    width: 469px;
  }

  .home__container,
  .share__container,
  .send__container {
    column-gap: 5rem;
  }
}

@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #000000;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #000000;
  }
}
/* Most browsers */
@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #000000;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #000000;
  }
}

//svg-animation
